html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 60px;
    padding: 0;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}
.box-body .dl-horizontal dt,.box-body .dl-horizontal dd{
    height: 35px;
    line-height: 35px;
}

/*第三方登录*/
.social-icon p{
    color: #999;
}
.social-icon p:after, .social-icon p:before {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    position: relative;
    background-color: #ebebeb;
}
.social-icon p:before {
    left: 0;
    top: 10px;
}
.social-icon p:after {
    right:-70%;
    top: -11px;
}
.auth-clients{
    padding: 0;
}
.auth-clients .github{
    background-color: #000000;
}
.auth-clients .weibo{
    background-color: #D7172E;
}
.auth-icon.weibo:before{
    font-size: 24px;
    line-height: 32px;
    content:'\f18a';
    font-family: FontAwesome;
    color:#fff;
}
.auth-clients .qq{
    background-color: #12B7F5;
}
.auth-icon.qq:before{
    font-size: 24px;
    line-height: 32px;
    content:'\f1d6';
    font-family: FontAwesome;
    color:#fff;
}
.auth-clients .weixin{
    background-color: #3caf36;
}
.auth-icon.weixin:before{
    font-size: 24px;
    line-height: 32px;
    content:'\f1d7';
    font-family: FontAwesome;
    color:#fff;
}
.auth-clients .renren{
    background-color: #2e7cb8;
}
.auth-icon.renren:before{
    font-size: 30px;
    line-height: 32px;
    content:'\f18b';
    font-family: FontAwesome;
    color:#fff;
}

.complete>ul.nav-tabs>li{
    margin-right: 0;
    text-align: center;
    width: 50%;
}

/*维修查看*/
.repaire-view .timeline>li>.timeline-item {
    border:1px solid #ddd;
}
.repaire-view .timeline:before {
    left:43px;
}
.repaire-view .timeline>li>.fa {left:20px;width:50px;font-size: 14px;}
.repaire-view .timeline>li>.timeline-item{margin-left: 72px;}
@media (min-width: 768px){
    .repaire-view .dl-horizontal dt {width:60px}
    .repaire-view .dl-horizontal dd {
        margin-left: 80px;
    }
}

.form-group .rating-container .rating {cursor: pointer}

/*楼苑概况*/
#navbar-forum{
    width:65px;
}
#navbar-forum.affix {
    position: fixed;
    top:0px;
}
#navbar-forum.affix-bottom {
    position: absolute;
}
#navbar-forum .nav .nav{
    display: none;
}
#navbar-forum .nav>.active>ul{
    display: block;
}
#navbar-forum .nav>.active>a {
    margin-left: -2px;
    font-weight: 700;
    color: #3c8dbc;
    border-left: 2px solid #3c8dbc;
}

#navbar-forum .nav .nav>li>a {
    padding-top: 2px;
    padding-bottom: 2px;

}
#navbar-forum .nav > li > a {
    display: block;
    padding: 8px 10px;
    font-weight: 500;
    color: #767676;
}
#navbar-forum .nav>li>a:hover {
    margin-left: -1px;
    color: #3c8dbc;
    border-left: 1px solid #3c8dbc;
}
.floor {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px #f4f4f4 solid;
    width: 100%;
}
.floor:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.clearspace {
    margin: 0;
    padding: 0;
}
.text_ellipsis {
    overflow: hidden;
    margin: 5px 0;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.broom {
    border: 1px solid #fff;
    margin: 0 2px 4px 2px;
}
.broom>h4 {
    margin: 0;
    padding: 5px 0;
    border: 1px solid #fff;
}
.sroom {
    border: 1px solid #fff;
    margin: 0 2px 4px 2px;
    cursor: pointer;
}
.sroom i.fa {
    line-height: 30px;
    overflow: hidden;

}

.broom .sroom {
    margin: 0;
}
.bed_content{
    height: 30px;
}
.bed_content>div{
    float:left;
    border:1px solid #fff;
    font-size: 12px;
    line-height: 12px;
    display: none;
}